// HEADER
.page-header {
  position: relative;
}

.container {
  width: 480px;
  height: 60px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-container {
  position: relative;
}

.nav-container__button {
  position: absolute;
  margin-top: 10px;
  margin-left: 276px;
  padding: 0;
  background: $color-accent;
  border: none;
  fill: $color-title;

  transition-property: fill, cursor;
  @extend %animation;

  &:hover,
  &:focus {
    fill: $color-hover-focus;
    cursor: pointer;
  }
}

.nav-container__icon-menu {
  display: none;
}

.nav-container__button.is-open .nav-container__icon-menu {
  display: block;
}

.nav-container__button.is-open .nav-container__icon-cross {
  display: none;
}

.menu-container {
  display: none;

  position: absolute;

  width: 480px;
  height: 796px;
  left: -15px;
  top: 100%;

  padding: 0;
  margin: 0;

  background: rgba(241, 2, 2, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  &.is-open {
    display: block;
  }
}

// Site-nav
.site-nav__link {
  display: none;

  @extend %nav__text;

  color: $color-title;

  transition-property: color, cursor;
  @extend %animation;

  &:hover,
  &:focus {
    color: $color-hover-focus;
    cursor: pointer;
  }
}

.site-nav__fover:hover .site-nav__link,
.site-nav__fover:focus .site-nav__link {
  color: $color-hover-focus;
  cursor: pointer;
}

//AUTH-NAV

// tel
.auth-nav__link {
  display: none;

  align-items: center;
  @extend %nav__text;

  color: $color-text;

  transition-property: color, cursor;
  @extend %animation;

  &:hover,
  &:focus {
    color: $color-hover-focus;
    cursor: pointer;
  }
}

.auth-nav__icon-mailto {
  // display: flex;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 0px;

  fill: #afb1b8;

  transition-property: fill, cursor;
  @extend %animation;

  &:hover,
  &:focus {
    fill: $color-hover-focus;
    cursor: pointer;
  }
}

.auth-nav__link:hover .auth-nav__icon-mailto,
.auth-nav__link:focus .auth-nav__icon-mailto {
  fill: $color-hover-focus;
  cursor: pointer;
}

.auth-nav__block {
  // display: flex;
  margin: 0px;

  transition-property: fill, cursor;
  @extend %animation;
}

.auth-nav__icon-tel {
  // display: flex;
  margin: 0px 10px 0px 0px;
  padding: 0;

  fill: #afb1b8;

  transition-property: fill, cursor;
  @extend %animation;

  &:hover,
  &:focus {
    fill: $color-hover-focus;
    cursor: pointer;
  }
}

.auth-nav__link:hover .auth-nav__icon-tel,
.auth-nav__link:focus .auth-nav__icon-tel {
  fill: $color-hover-focus;
  cursor: pointer;
}

.auth-nav__block {
  // display: flex;
  margin: 0px;

  transition-property: fill, cursor;
  @extend %animation;
}
